.Dashboard {
  background-color: #303f9f;
  color: #ffc107;
  min-height: 100vh;
  padding: 2vmax;
  text-align: center;
  box-sizing: border-box;
  margin-top: 5rem;
}

.DashboardDetailsCard {
  display: grid;
  grid-template-columns: auto auto;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
}
